.main{
    height: 600px;
    width: 1200px;
    margin: 50px auto;
    position: relative;
}
.one{
    background-color: orange;
    height: 200px;
    width: 1200px;
    position: absolute;
}
.two{
    background-color: whitesmoke;
    bottom: 0;
    height: 200px;
    width: 1200px;
    position: absolute;
}
.three{
    background-color: green;
    bottom: 0;
    height: 200px;
    width: 1200px;
    position: absolute;
}
.main::after{
    position: absolute;
    content: '';
    background-color: orange;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}